@page "/"
@using HAN.Services.DTOs
@using HAN.Services.Interfaces

@inject ICourseService CourseService
@inject NavigationManager NavigationManager

<PageTitle>Home</PageTitle>

<RadzenDataList WrapItems="true" AllowPaging="false" Data="@_courses" TItem="CourseDto">
    <Template Context="course">
        <RadzenCard class="d-flex flex-column" Style="width:300px;">
            <div>
                <RadzenStack Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center">
                    <RadzenIcon Icon="school"/>
                    <RadzenStack Gap="0">
                        <RadzenText TextStyle="TextStyle.Overline" class="rz-display-flex rz-mt-2 rz-my-0">Name</RadzenText>
                        <RadzenText TextStyle="TextStyle.Body1"><b>@(course.Name)</b></RadzenText>
                        <RadzenText TextStyle="TextStyle.Overline" class="rz-display-flex rz-mt-4 rz-mb-0">Description</RadzenText>
                        <RadzenText TextStyle="TextStyle.Body2" class="text-ellipsis"><b>@(course.Description)</b></RadzenText>
                    </RadzenStack>
                </RadzenStack>
                <hr style="border: none; background-color: rgba(0,0,0,.2); height: 1px; margin: 1rem 0;"/>
            </div>
            <RadzenRow class="mt-auto">
                <RadzenColumn Size="12" class="rz-text-truncate">
                    <RadzenStack JustifyContent="JustifyContent.SpaceBetween" Orientation="Orientation.Horizontal" Gap="4px" class="mb-2 han-delimiter">
                        <RadzenStack Orientation="Orientation.Horizontal" Gap="4px">
                            <RadzenIcon Icon="workspace_premium"/>
                            @course.Evls.Count @((course.Evls.Count > 1) ? "Evls" : "Evl")
                        </RadzenStack>
                        <RadzenLink Path=@($"/course/{course.Id}")>
                            Edit
                            <RadzenIcon Icon="edit"/>
                        </RadzenLink>
                    </RadzenStack>
                </RadzenColumn>
            </RadzenRow>
        </RadzenCard>
    </Template>
</RadzenDataList>

@code {
    private List<CourseDto> _courses = [];
    string pagingSummaryFormat = "Displaying page {0} of {1} (total {2} records)";
    int pageSize = 6;
    int count;

    protected override Task OnInitializedAsync()
    {
        _courses = CourseService.GetAllCourses();
        return base.OnInitializedAsync();
    }

    private void NavigateToEditCourse(int courseId) => NavigationManager.NavigateTo($"/course/{courseId}");

}